<launch>

<node name="usb_cam_chest" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
</node>


<node name="usb_cam_head" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
</node>

<node pkg="tf" type="static_transform_publisher" name="world_to_cam" args="0 0 0.15 -0.08726 -0.87 3.14  /map /usb_cam 100"/>
  <arg name="marker_size" default="4.4" />
  <arg name="max_new_marker_error" default="0.05" />
  <arg name="max_track_error" default="0.05" />
  <arg name="cam_image_topic" default="/usb_cam_chest/image_raw" />
  <arg name="cam_info_topic" default="/usb_cam_chest/camera_info" />
  <arg name="output_frame" default="/map" />
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size" type="double" value="$(arg marker_size)" />
    <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
    <param name="max_track_error" type="double" value="$(arg max_track_error)" />
    <param name="output_frame" type="string" value="$(arg output_frame)" />
    <remap from="camera_image" to="$(arg cam_image_topic)" />
    <remap from="camera_info" to="$(arg cam_info_topic)" />
</node>

<node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen" />

<!-- <node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen" /> -->


</launch>